<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select
            id="plumeCompleteness"
            v-model="selectedValue"
            @change="applyFilter"
            class="form-control adjustable-box"
            style="margin: 0; padding: 5px; margin-top: 4px"
            @focus="showDefaultText = false"
            @blur="showDefaultText = true"
          >
            <option
              v-for="value in rangeValues"
              :key="value"
              :value="value"
              class="form-option"
            >
              {{
                showDefaultText
                  ? `Plume Completeness: ${selectedValue}%`
                  : `${value}%`
              }}

</option>
</select>
</body>
</html>